.button {
    height: 48px;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 2px solid black;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #009099;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.button--secondary {
    border: 1px solid #C4C4C4;
    color: #010118;
    background-color: transparent;
}

.button--small {
    font-size: 14px;
    height: 34px;
}

.disabled {
    background: rgb(154, 174, 211);
}