.button {
    height: 48px;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 2px solid black;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #009099;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.button--secondary {
    border: 1px solid #C4C4C4;
    color: #010118;
    background-color: transparent;
}

.button--text {
    border: none;
    color: #9A9A9A;
    background-color: transparent;
    padding: 0;
}

.button--small {
    font-size: 14px;
    height: 34px;
}

.button--disabled {
    opacity: 0.6;
}

.button--loading span{
    visibility: hidden;
}

.spinner {
    position: absolute;
}

.button--application-theme.button {
    background-color: #11BFBD;
    border-radius: 1px;
  }

  .button--application-theme.button--secondary {
    border: 1px solid #11BFBD;
    background-color: transparent;
    color: #009099;
  }

  .button--application-theme.button--text {
    color: #009099;
    background-color: transparent;
  }


  